.Weather {
  border: 1px solid #dadde1;
  color: #878787;
  padding: 16px;
  border-radius: 4px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  margin-right: 10px;
  width: 64px;
}
/* css video 3:40 left - how to make a float to fix the img position */
.Weather .temperature {
  font-weight: 400;
  color: black;
  font-size: 64px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  color: black;
  position: relative;
  top: -34px;
  margin-left: 5px;
}
